// Put here all the styles you want to add or edit




.g-pos-rev {
	position: relative !important;
}

/*------------------------------------
  Badges
------------------------------------*/

[class*="u-badge"] {
	position: absolute;
	display: inline-block;
	text-align: center;
	font-size: 0.92857rem;
	$color_1: #555;
	z-index: 3;
	&:not([class*="--top-left"]) {
		&:not([class*="--bottom-left"]) {
			&:not([class*="--bottom-right"]) {
				top: 26px;
				right: 47%;
				transform: translate(100%, -50%);
			}
		}
	}
}
.u-badge--top-left {
	top: 0;
	left: 0;
	transform: translate(-50%, -50%);
}
.u-badge--bottom-left {
	bottom: 0;
	left: 0;
	transform: translate(-50%, 50%);
}
.u-badge--bottom-right {
	bottom: 0;
	right: 0;
	transform: translate(50%, 50%);
}
// [class*="u-badge-v1"] {
// 	$background_color_1: #ddd;
// 	box-sizing: content-box;
// }
.u-badge-v1 {
    min-width: 1.28571rem;
    min-height: 1.28571rem;
    line-height: 1.28571rem;
    // padding: 0.21429rem;
	background :#ddd;
	font-size: 10px;
	color: #E91E63;
	border: 1px solid #c7c7c7;
}

.g-rounded-50x {
    border-radius: 50%;
}

.nav-clr {
	color: #E91E63;
	 display: block;
	 text-align: center;
	 font-size: 20px;
	 margin-top: 27.5px;
	}